<section class="block--middle">
    <div class="input-group">
        <div class="search-icon">
            <img src="/image/search.png" alt="search icon">
        </div>
        <input class="search-input" placeholder="Search products, income calculator, orders and more...  " type="text" name="" id="">
    </div>
    <div class="block--card">
        <div class="flex icon__body block--calender">
            <p class="calender__text">
               Overview 
            </p>
            <div class="calender-container">
                <p class="calender">
                    Duration
                </p>
                <div class="time-container">
                    <p class="time">
                        Yearly
                    </p>
                    <img src="/image/chevron-down.png" alt="chevron-down icon">
                </div>
            </div>
        </div>
        <div class="card__container flex icon__body">
            <div class="card">
                <div class="card__header">
                    <img src="/image/Content.png" alt="content icon">
                    <span class="percentage-good">
                        +24%
                    </span>
                </div>
                <div class="card__body">
                    <p class="num card__price">
                        #7,724,540
                    </p>
                    <p class="card__text">
                        Total Revenue
                    </p>
                </div>
            </div>
            <div class="card">
                <div class="card__header">
                    <img src="/image/Expenses.png" alt="Expenses icon">
                    <span class="percentage-bad">
                        -27%
                    </span>
                </div>
                <div class="card__body">
                    <p class="num card__price">
                        #1,724,540
                    </p>
                    <p class="card__text">
                        Total Expenses
                    </p>
                </div>
            </div>
            <div class="card">
                <div class="card__header">
                    <img src="/image/Visitors.png" alt="Visitors icon">
                    <span class="percentage-good">
                        +52%
                    </span>
                </div>
                <div class="card__body">
                    <p class="num card__price">
                        22,454
                    </p>
                    <p class="card__text">
                        Total Visitors
                    </p>
                </div>
            </div>
            <div class="card">
                <div class="card__header">
                    <img src="/image/Content-1.png" alt="content icon">
                    <span class="percentage-bad">
                        -11%
                    </span>
                </div>
                <div class="card__body">
                    <p class="num card__price">
                        17,540
                    </p>
                    <p class="card__text">
                        Total Orders
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="block--chart">
        <div class="flex icon__body block--revenue">
            <div class="flex revenue__body">
                <p class="revenue">
                    Revenue 
                </p>
                <p class="calc">
                    Calculate Income
                </p>
            </div>
            <div class="calender-container">
                <p class="calender calender-2">
                    Format
                </p>
                <div class="time-container">
                    <p class="time">
                        Bar Chart
                    </p>
                    <img src="/image/chevron-down.png" alt="chevron-down icon">
                </div>
            </div>
        </div>
        <div class="chart__container">
            <div class="chart flex">
                <div class="sidebar">
                    <p class="num">
                        10M
                    </p>
                    <p class="num">
                        6M
                    </p>
                    <p class="num">
                        2M
                    </p>
                    <p class="num">
                        0
                    </p>
                </div>
                <div class="box">
                    <p class="chart__year num">
                        2022
                    </p>
                    <div class="message__icon flex">
                        <p>
                            24 Feb
                        </p>
                        <p>
                            # 5.7 M
                        </p>
                    </div>
                    <div class="skill">
                        <diV class="graph long" style="height: 30%;">
                        </diV>
                        <div class="name long__name">Jan</div>
                    </div>
                    <div class="skill">
                        <diV class="graph longer" style="height: 57%;">
                        </diV>
                        <div class="name longer__name">Feb</div>
                    </div>
                    <div class="skill">
                        <diV class="graph" style="height: 2%;">
                        </diV>
                        <div class="name">Mar</div>
                    </div>
                    <div class="skill">
                        <diV class="graph" style="height: 2%;">
                        </diV>
                        <div class="name">Apr</div>
                    </div>
                    <div class="skill">
                        <diV class="graph" style="height: 2%;">
                        </diV>
                        <div class="name">May</div>
                    </div>
                    <div class="skill">
                        <diV class="graph" style="height: 2%;">
                        </diV>
                        <div class="name">Jun</div>
                    </div>
                    <div class="skill">
                        <diV class="graph" style="height: 2%;">
                        </diV>
                        <div class="name">Jul</div>
                    </div>
                    <div class="skill">
                        <diV class="graph" style="height: 2%;">
                        </diV>
                        <div class="name">Aug</div>
                    </div>
                    <div class="skill">
                        <diV class="graph" style="height: 2%;">
                        </diV>
                        <div class="name">Sep</div>
                    </div>
                    <div class="skill">
                        <diV class="graph" style="height: 2%;">
                        </diV>
                        <div class="name">Oct</div>
                    </div>
                    <div class="skill">
                        <diV class="graph" style="height: 2%;">
                        </diV>
                        <div class="name">Nov</div>
                    </div>
                    <div class="skill">
                        <diV class="graph" style="height: 2%;">
                        </diV>
                        <div class="name">Dec</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="block--grid">
        <div class="flex icon__body block--calender">
            <p class="calender__text">
               Popular Products
            </p>
            <div class="calender-container caln">
                <p class="calender">
                    See more
                </p>
            </div>
        </div>
        <div class="product-grid">    
            <p class="product__title curve br-left br-left__pad">
                Image
            </p>
            <p class="product__title curve">
                Name
            </p>
            <p class="product__title curve">
                Category
            </p>
            <p class="product__title curve">
                Brand
            </p>
            <p class="product__title curve">
                Price
            </p>
            <p class="product__title curve">
                Status
            </p>
            <p class="product__title curve br-right">
                Last Purchase
            </p>
            <div class="icon-container icon-container--medium">
                <img src="/image/Electronics03.png" alt="content logo">
            </div>
            <div class="flex-grid pad-top-2">
                <p class="sub__text fw-bold">
                    iPhone 13 Pro
                </p>
                <p class="sub__time">
                    #47289
                </p>
            </div>
            <p class="sub__text pad-top fw-bold">
                Smartphone
            </p>
            <p class="sub__text pad-top fw-bold">
                iPhone
            </p>
            <p class="sub__text pad-top percentage-good">
                #975,000
            </p>
            <div class="flex-grid pad-top-2">
                <p class="sub__text fw-bold">
                    In Stock
                </p>
                <p class="sub__time">
                    11k Views
                </p>
            </div>
            <p class="product__title num pad-top fw-bold">
                Feb 7, 2022
            </p>
            <div class="icon-container icon-container--medium container-odd">
                <img src="/image/Electronics01.png" alt="content logo">
            </div>
            <div class="flex-grid">
                <p class="sub__text fw-bold">
                    Curved Monitor
                </p>
                <p class="sub__time closer">
                    #57280
                </p>
            </div>
            <p class="sub__text pad-top fw-bold">
                Smartphone
            </p>
            <p class="sub__text pad-top fw-bold">
                Dell
            </p>
            <p class="sub__text pad-top percentage-good">
                #702,500
            </p>
            <div class="flex-grid">
                <p class="sub__text fw-bold">
                    In Stock
                </p>
                <p class="sub__time closer">
                    5k Views
                </p>
            </div>
            <p class="product__title num pad-top fw-bold">
                Feb 15, 2022
            </p>
        </div>    
    </div>
</section>