<div class="calender-container">
    <p class="calender">
        Duration
    </p>
    <div class="time-container">
        <p class="time">
            Yearly
        </p>
        <img src="/image/chevron-down.png" alt="chevron-down icon">
    </div>
</div>


<div class="calender-container">
    <p class="calender calender-2">
        Format
    </p>
    <div class="time-container">
        <p class="time">
            Bar Chart
        </p>
        <img src="/image/chevron-down.png" alt="chevron-down icon">
    </div>
</div>