<div class="card">
    <div class="card__header">
        <img src="/image/Content.png" alt="content icon">
        <span class="percentage-good">
            +24%
        </span>
    </div>
    <div class="card__body">
        <p class="num card__price">
            #7,724,540
        </p>
        <p class="card__text">
            Total Revenue
        </p>
    </div>
</div>
<div class="card">
    <div class="card__header">
        <img src="/image/Expenses.png" alt="Expenses icon">
        <span class="percentage-bad">
            -27%
        </span>
    </div>
    <div class="card__body">
        <p class="num card__price">
            #1,724,540
        </p>
        <p class="card__text">
            Total Expenses
        </p>
    </div>
</div>
<div class="card">
    <div class="card__header">
        <img src="/image/Visitors.png" alt="Visitors icon">
        <span class="percentage-good">
            +52%
        </span>
    </div>
    <div class="card__body">
        <p class="num card__price">
            22,454
        </p>
        <p class="card__text">
            Total Visitors
        </p>
    </div>
</div>
<div class="card">
    <div class="card__header">
        <img src="/image/Content-1.png" alt="content icon">
        <span class="percentage-bad">
            -11%
        </span>
    </div>
    <div class="card__body">
        <p class="num card__price">
            17,540
        </p>
        <p class="card__text">
            Total Orders
        </p>
    </div>
</div>