<div class="chart__container">
    <div class="chart flex">
        <div class="sidebar">
            <p>
                10M
            </p>
            <p>
                6M
            </p>
            <p>
                2M
            </p>
            <p>
                0
            </p>
        </div>
        <div class="box">
            <p class="chart__year">
                2022
            </p>
            <div class="message__icon flex">
                <p>
                    24 Feb
                </p>
                <p>
                    # 5.7 M
                </p>
            </div>
            <div class="skill">
                <diV class="graph long" style="height: 30%;">
                </diV>
                <div class="name long__name">Jan</div>
            </div>
            <div class="skill">
                <diV class="graph longer" style="height: 57%;">
                </diV>
                <div class="name longer__name">Feb</div>
            </div>
            <div class="skill">
                <diV class="graph" style="height: 2%;">
                </diV>
                <div class="name">Mar</div>
            </div>
            <div class="skill">
                <diV class="graph" style="height: 2%;">
                </diV>
                <div class="name">Apr</div>
            </div>
            <div class="skill">
                <diV class="graph" style="height: 2%;">
                </diV>
                <div class="name">May</div>
            </div>
            <div class="skill">
                <diV class="graph" style="height: 2%;">
                </diV>
                <div class="name">Jun</div>
            </div>
            <div class="skill">
                <diV class="graph" style="height: 2%;">
                </diV>
                <div class="name">Jul</div>
            </div>
            <div class="skill">
                <diV class="graph" style="height: 2%;">
                </diV>
                <div class="name">Aug</div>
            </div>
            <div class="skill">
                <diV class="graph" style="height: 2%;">
                </diV>
                <div class="name">Sep</div>
            </div>
            <div class="skill">
                <diV class="graph" style="height: 2%;">
                </diV>
                <div class="name">Oct</div>
            </div>
            <div class="skill">
                <diV class="graph" style="height: 2%;">
                </diV>
                <div class="name">Nov</div>
            </div>
            <div class="skill">
                <diV class="graph" style="height: 2%;">
                </diV>
                <div class="name">Dec</div>
            </div>
        </div>
    </div>
</div>