<div class="product-grid">    
    <p class="product__title curve br-left br-left__pad">
        Image
    </p>
    <p class="product__title curve">
        Name
    </p>
    <p class="product__title curve">
        Category
    </p>
    <p class="product__title curve">
        Brand
    </p>
    <p class="product__title curve">
        Price
    </p>
    <p class="product__title curve">
        Status
    </p>
    <p class="product__title curve br-right">
        Last Purchase
    </p>
    <div class="icon-container icon-container--medium">
        <img src="/image/Electronics03.png" alt="content logo">
    </div>
    <div class="flex-grid pad-top-2">
        <p class="sub__text fw-bold">
            iPhone 13 Pro
        </p>
        <p class="sub__time">
            #47289
        </p>
    </div>
    <p class="sub__text pad-top fw-bold">
        Smartphone
    </p>
    <p class="sub__text pad-top fw-bold">
        iPhone
    </p>
    <p class="sub__text pad-top percentage-good">
        #975,000
    </p>
    <div class="flex-grid pad-top-2">
        <p class="sub__text fw-bold">
            In Stock
        </p>
        <p class="sub__time">
            11k Views
        </p>
    </div>
    <p class="product__title num pad-top fw-bold">
        Feb 7, 2022
    </p>
    <div class="icon-container icon-container--medium container-odd">
        <img src="/image/Electronics01.png" alt="content logo">
    </div>
    <div class="flex-grid">
        <p class="sub__text fw-bold">
            Curved Monitor
        </p>
        <p class="sub__time closer">
            #57280
        </p>
    </div>
    <p class="sub__text pad-top fw-bold">
        Smartphone
    </p>
    <p class="sub__text pad-top fw-bold">
        Dell
    </p>
    <p class="sub__text pad-top percentage-good">
        #702,500
    </p>
    <div class="flex-grid">
        <p class="sub__text fw-bold">
            In Stock
        </p>
        <p class="sub__time closer">
            5k Views
        </p>
    </div>
    <p class="product__title num pad-top fw-bold">
        Feb 15, 2022
    </p>
</div>    