<section class="block--right">
    <div class="flex icon__body">
        <div class="icon-container icon-container--circle">
            <img class="icon" src="/image/Notification.png" alt="content logo">
        </div>
        <div class="icon-container icon-container--circle">
            <img class="icon" src="/image/EditIcon.png" alt="edit lcon">
        </div>
    </div>
    <div class="slot-logo__container">
        <div class="slot-logo">
            <div class="slot-container icon-container">
                <span class="slot">
                    SLOT
                </span>
            </div>
            <p class="slot__text">
               ...much more than phones!
            </p>
        </div>
    </div>
    <div class="subscriber-body">
        <div class="subscriber-container">
            <div class="subscriber">
                <div class="icon-container icon-container--small">
                    <img class="icon--square" src="/image/Visits.png" alt="content logo">
                </div>
                <div class="sub__bodytext">
                    <p class="sub__num num">
                        50,741
                    </p>
                    <p class="sub__text">
                        Total Visits
                    </p>
                </div>
            </div>
            <div class="subscriber sub-2">
                <div class="icon-container icon-container--small">
                    <img class="icon--square" src="/image/Visitors-1.png" alt="content logo">
                </div>
                <div class="sub__bodytext">
                    <p class="sub__num num">
                        2,214
                    </p>
                    <p class="sub__text">
                        Subscribers
                    </p>
                </div>
            </div>
        </div>
    </div>  
    <div class="shopping-body">
        <div class="shopping__container">
            <p class="shopping__text">
                Want to make a purchase?
            </p>
            <div class="shopping__text-container">
                <img src="/image/Switch.png" alt="switch logo">
                <p class="shopping__text text-2">
                    Switch to shopping mode
                </p>
            </div>
        </div>
    </div> 
    <div class="grid-container">
        <div class="grid__bodytext">
            <p class="recent">
               Recents Orders
            </p>
            <p class="see">
                See all
            </p>
        </div>
        <div class="grid__body">
            <div class="grid grid-3x3">
                <div class="icon-container icon-container--medium">
                    <img src="/image/Electronics03.png" alt="content logo">
                </div>
                <div class="flex-grid">
                    <p class="sub__text">
                        iPhone 13 Pro
                    </p>
                    <p class="sub__time">
                        2 hours ago
                    </p>
                </div>
                <div>
                    <p class="num price">
                        #975,000
                    </p>
                </div>
                <div class="icon-container icon-container--medium">
                    <img src="/image/Electronics05.png" alt="content logo">
                </div>
                <div class="flex-grid">
                    <p class="sub__text">
                        Dell PC
                    </p>
                    <p class="sub__time">
                        4 hours ago
                    </p>
                </div>
                <div>
                    <p class="num price">
                        #247,000
                    </p>
                </div>
                <div class="icon-container icon-container--medium">
                    <img src="/image/Electronics07.png" alt="content logo">
                </div>
                <div class="flex-grid">
                    <p class="sub__text">
                        Beat Headphone
                    </p>
                    <p class="sub__time">
                        5 hours ago
                    </p>
                </div>
                <div>
                    <p class="num price">
                        #20,000
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div>
        <p class="sub__text app-badge__text">
            Download the Grabby Vendor App to personalize your management experience with tips, recommendations and prompt notifications to enhance your business. Click below to get started today!. 
        </p>
        <div>
            <img class="app-badge" src="/image/AppStore.png" alt="apple store link">
            <img src="/image/PlayStore.png" alt="PlayStore link">
        </div>
    </div>
</section>