<div class="grid-container">
    <div class="grid__bodytext">
        <p class="recent">
           Recents Orders
        </p>
        <p class="see">
            See all
        </p>
    </div>
    <div class="grid__body">
        <div class="grid grid-3x3">
            <div class="icon-container icon-container--medium">
                <img src="/image/Electronics03.png" alt="content logo">
            </div>
            <div class="flex-grid">
                <p class="sub__text">
                    iPhone 13 Pro
                </p>
                <p class="sub__time">
                    2 hours ago
                </p>
            </div>
            <div>
                <p class="num price">
                    #975,000
                </p>
            </div>
            <div class="icon-container icon-container--medium">
                <img src="/image/Electronics05.png" alt="content logo">
            </div>
            <div class="flex-grid">
                <p class="sub__text">
                    Dell PC
                </p>
                <p class="sub__time">
                    4 hours ago
                </p>
            </div>
            <div>
                <p class="num price">
                    #247,000
                </p>
            </div>
            <div class="icon-container icon-container--medium">
                <img src="/image/Electronics07.png" alt="content logo">
            </div>
            <div class="flex-grid">
                <p class="sub__text">
                    Beat Headphone
                </p>
                <p class="sub__time">
                    5 hours ago
                </p>
            </div>
            <div>
                <p class="num price">
                    #20,000
                </p>
            </div>
        </div>
    </div>
</div>