<div class="subscriber-body">
    <div class="subscriber-container">
        <div class="subscriber">
            <div class="icon-container icon-container--small">
                <img class="icon--square" src="/image/Visits.png" alt="content logo">
            </div>
            <div class="sub__bodytext">
                <p class="sub__num num">
                    50,741
                </p>
                <p class="sub__text">
                    Total Visits
                </p>
            </div>
        </div>
        <div class="subscriber sub-2">
            <div class="icon-container icon-container--small">
                <img class="icon--square" src="/image/Visitors-1.png" alt="content logo">
            </div>
            <div class="sub__bodytext">
                <p class="sub__num num">
                    2,214
                </p>
                <p class="sub__text">
                    Subscribers
                </p>
            </div>
        </div>
    </div>
</div>


