<section class="block--left">
    <div class="menu flex">
        <div class="menu__hybrid">
            <div class="menu__top">
                <div class="flex brand mg-l">
                    <img src="/image/BrandIcon.png" alt="brand icon">
                    <h1 class="brand__text">
                        Grabby
                    </h1>
                </div>
            </div>
            <div class="menu__middle">
                <a href="#">
                    <div class="menu__link flex">
                        <div class="viz">
                            <div class="flex mg-l">
                                <img class="menu__link__image"  src="/image/Home.svg" alt="home icon not in hover state">
                                <p class="menu__text">Home</p>
                            </div>
                        </div>
                        <div class="unviz">
                            <div class="flex select unviz .scale-up-right ">
                                <div class="bar"></div>
                                <img class="menu__link__image"  src="/image/HomeIcon.png" alt="Shipment icon not in hover state">
                                <p class="menu__text">Home</p>
                            </div>
                        </div>
                    </div>
                </a>
                <a href="#">
                    <div class="menu__link flex">
                        <div class="viz">
                            <div class="flex mg-l">
                                <img class="mensu__link__image"  src="/image/OrdersIcon.png" alt="Orders icon not in hover state">
                                <p class="menu__text">Orders</p>
                            </div>
                        </div>
                        <div class="unviz">
                            <div class="flex select unviz .scale-up-right ">
                                <div class="bar"></div>
                                <img class="menu__link__image"  src="/image/Content-1.png" alt="Order icon in hover state">
                                <p class="menu__text">Orders</p>
                            </div>
                        </div>
                    </div>
                </a>
                <a href="#">
                    <div class="menu__link">
                        <div class="flex mg-l">
                            <img class="menu__link__image"  src="/image/StoreIcon.png" alt="Store icon not in hover state">
                            <p class="menu__text">Store</p>
                        </div>
                    </div>
                </a>
                <a href="#">
                    <div class="menu__link">
                        <div class="flex mg-l">
                            <img class="menu__link__image"  src="/image/tag.png" alt="tag not in hover state">
                            <p class="menu__text">Offers</p>
                        </div>
                    </div>
                </a>
                <a href="#">
                    <div class="menu__link">
                        <div class="flex mg-l">
                            <img class="menu__link__image"  src="/image/ShipmentIcon.png" alt="Shipment icon not in hover state">
                            <p class="menu__text">Shipment</p>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="menu__down">
            <a href="#">
                <div class="menu__link">
                    <div class="flex mg-l">
                        <img class="menu__link__image"  src="/image/settings.png" alt="Settings not in hover state">
                        <p class="menu__text">Settings</p>
                    </div>
                </div>
            </a>
            <a href="#">
                <div class="menu__link">
                    <div class="flex mg-l">
                        <img class="menu__link__image"  src="/image/SignOut.png" alt="Sign Out icon not in hover state">
                        <p class="menu__text">Sign out</p>
                    </div>
                </div>
            </a>
        </div>
    </div>
</section>
<section class="block--left">
        <div class="menu flex">
            <div class="menu__hybrid">
                <div class="menu__top">
                    <div class="flex brand mg-l">
                        <img src="/image/BrandIcon.png" alt="brand icon">
                        <h1 class="brand__text">
                            Grabby
                        </h1>
                    </div>
                </div>
                <div class="menu__middle">
                    <a href="#">
                        <div class="menu__link flex">
                            <div class="viz">
                                <div class="flex mg-l">
                                    <img class="menu__link__image"  src="/image/Home.svg" alt="home icon not in hover state">
                                    <p class="menu__text">Home</p>
                                </div>
                            </div>
                            <div class="unviz">
                                <div class="flex select unviz .scale-up-right ">
                                    <div class="bar"></div>
                                    <img class="menu__link__image"  src="/image/HomeIcon.png" alt="Shipment icon not in hover state">
                                    <p class="menu__text">Home</p>
                                </div>
                            </div>
                        </div>
                    </a>
                    <a href="#">
                        <div class="menu__link flex">
                            <div class="viz">
                                <div class="flex mg-l">
                                    <img class="mensu__link__image"  src="/image/OrdersIcon.png" alt="Orders icon not in hover state">
                                    <p class="menu__text">Orders</p>
                                </div>
                            </div>
                            <div class="unviz">
                                <div class="flex select unviz .scale-up-right ">
                                    <div class="bar"></div>
                                    <img class="menu__link__image"  src="/image/Content-1.png" alt="Order icon in hover state">
                                    <p class="menu__text">Orders</p>
                                </div>
                            </div>
                        </div>
                    </a>
                    <a href="#">
                        <div class="menu__link">
                            <div class="flex mg-l">
                                <img class="menu__link__image"  src="/image/StoreIcon.png" alt="Store icon not in hover state">
                                <p class="menu__text">Store</p>
                            </div>
                        </div>
                    </a>
                    <a href="#">
                        <div class="menu__link">
                            <div class="flex mg-l">
                                <img class="menu__link__image"  src="/image/tag.png" alt="tag not in hover state">
                                <p class="menu__text">Offers</p>
                            </div>
                        </div>
                    </a>
                    <a href="#">
                        <div class="menu__link">
                            <div class="flex mg-l">
                                <img class="menu__link__image"  src="/image/ShipmentIcon.png" alt="Shipment icon not in hover state">
                                <p class="menu__text">Shipment</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="menu__down">
                <a href="#">
                    <div class="menu__link">
                        <div class="flex mg-l">
                            <img class="menu__link__image"  src="/image/settings.png" alt="Settings not in hover state">
                            <p class="menu__text">Settings</p>
                        </div>
                    </div>
                </a>
                <a href="#">
                    <div class="menu__link">
                        <div class="flex mg-l">
                            <img class="menu__link__image"  src="/image/SignOut.png" alt="Sign Out icon not in hover state">
                            <p class="menu__text">Sign out</p>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </section>